@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h2 {
  margin: 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.list-item {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;

  background-repeat: no-repeat;
  background-position: top;
}

.profile-photo {
  width: 80px;
  border-radius: 50%;
  z-index: 2;
}

.card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
}

.text-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 26px 0;
}

.follow-button {
  width: 196px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;
  color: #373737;
  transition-property: background-color;
  transition-duration: 300ms;
}

.following-button {
  width: 196px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;
  color: #373737;
}

.card-info-wrap {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.long-stick {
  position: absolute;
  top: 214px;
}

.elipse {
  position: absolute;
  top: 178px;
  left: calc(50% - 45px);
  z-index: 3;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.message {
  position: absolute;
  left: 36px;
  top: 28px;
}

.load-more-btn {
  width: 196px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;
  color: #373737;
  margin-left: calc(50vw - 110px);
}

.loader {
  margin-left: calc(50vw - 85px);
}

.nav {
  display: flex;
  gap: 10px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdownBtn {
  width: 100%;
}

.dropdownBtn:hover {
  background-color: #04aa6d;
}
